.site-header {
  background-color: #00bcd4;
  color: #000000;
  height: 100vh;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic{
  border-radius: 50%;
  align-self: center;
  border: 2px;
  border-color: white;
  
}

.site-header-content{
  margin: 10px;
  font-size: large;
}

.course-link {
  color: #000000;
}

body{
  margin: 0;
}
